* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  background-color: rgb(255, 255, 246);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 5%;
}

h3 {
  font-size: 1.5rem;
  margin-left: 3%;
  margin-top: 2%;
}

#top-right {
  text-align: right;
  margin-right: 5%;
}

form {
  margin-left: 35%;
}

#positioning {
  margin-left: 47%;
  border: none;
  background: rgb(58, 58, 197);
  color: rgb(243, 243, 245);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.ansbtn {
  border: none;
  background: rgb(58, 58, 197);
  color: rgb(243, 243, 245);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px;
  margin-left: 30%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.ansbtn:hover {
  background-color: rgb(103, 103, 207);
}

.hide {
  display: none;
}

/* .style {
  background: rgb(58, 58, 197);
  color: rgb(243, 243, 245);
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: rgb(58, 58, 197);
  color: rgb(243, 243, 245);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px;
  margin-left: 30%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
} */
